<div style="display: flex; justify-content: center; align-items: top-center; height: 100vh;">
  <.link patch={~p"/invoices"}>
    <.button class="bg-teal-500 text-gray-600 hover:bg-teal-600 hover:text-white">
      Go to Invoices
    </.button>
  </.link>
</div>
